@import url("../../components/partnership/letsTalk.scss");
@import url("../../components/partnership/heroSection.scss");
@import url("../../components/partnership/whyPartnerSection.scss");
@import url('../../components//partnership/featureSection.scss');

