.partner-feature-section {
  padding: 80px 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
  z-index: 1000;
  overflow: hidden;

  h2 {
    font-size: 62px;
    font-family: Volkhov;
  }

  h3 {
    font-size: 48px;
    font-family: Volkhov;

    span {
      color: #43dde7;
    }
  }
  h4 {
    font-size: 24px;
    font-family: "Volkhov";
  }

  h5 {
    font-size: 20px;
    font-family: "Volkhov";
    // background-color: red;
  }

  p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }

  .font-paraa {
    font-family: "Montserrat", sans-serif;
    // background-color: green;
  }

  //   colors
  .color-text-sec {
    color: #43dde7;
  }

  .feature-elips {
    position: absolute;
    // background-color: red;
    z-index: -1;
    top: -200px;
    left: 0;
  }

  .vector-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .vector-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .feature-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .feature-center {
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .card {
      border-radius: 7px;
      background: rgba(255, 255, 255, 0.06);
      box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(21.299999237060547px);
      padding: 42px 33px;
      color: #fff;

      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .feature-bottom {
    display: flex;
    justify-content: space-between;
    // background-color: red;

    .bottom-part1 {
      //   background-color: aqua;
      display: flex;
      flex-direction: column;
      gap: 300px;
      justify-content: space-between;

      .part1-top {
        display: flex;
        align-items: center;
        gap: 20px;
        h5 {
          text-align: end;
        }
      }

      .part1-bottom {
        display: flex;
        align-items: center;
        gap: 20px;
        h5 {
          text-align: end;
        }
      }
    }

    .bottom-part2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      position: relative;
      overflow: hidden;

      .line-frame {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      p {
        text-align: center;
        font-family: "Volkhov";
        font-size: 44px;
      }
    }

    .bottom-part3 {
      //   background-color: aqua;
      display: flex;
      flex-direction: column;
      gap: 300px;
      justify-content: space-between;

      .part1-top {
        display: flex;
        align-items: center;
        gap: 20px;
        h5 {
          text-align: start;
        }
      }

      .part1-bottom {
        display: flex;
        align-items: center;
        gap: 20px;
        h5 {
          text-align: start;
        }
      }
    }
  }

  //   only for mobiles
  .feature-bottom-mobile {
    display: none;
  }
  .feature-btn {
    display: flex;
    justify-content: center;

    button {
      width: fit-content;
    }

    .active_btn {
      border-radius: 60px;
      border: 0px;
      padding: 14px 30px;
      // background: transparent;
      font-weight: 500;
    }
  }
}

@media (max-width: 1424px) {
  .partner-feature-section {
    h2 {
      font-size: 44px;
      font-family: Volkhov;
    }

    h3 {
      font-size: 32px;
      font-family: Volkhov;

      span {
        color: #43dde7;
      }
    }
    h4 {
      font-size: 20px;
      font-family: Volkhov;
    }

    h5 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }

    // background-color: blue;
    padding: 70px 80px;

    .feature-elips {
      display: none;
    }

    .vector-left {
      display: none;
    }

    .vector-right {
      display: none;
    }

    .feature-center {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      .card {
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(21.299999237060547px);
        padding: 42px 33px;
        color: #fff;

        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .partner-feature-section {
    .feature-elips {
      display: none;
    }

    .vector-left {
      display: none;
    }

    .vector-right {
      display: none;
    }

    .feature-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      align-items: center;
      text-align: center;
    }

    .feature-center {
      // background-color: red;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      .card {
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(21.299999237060547px);
        padding: 42px 33px;
        color: #fff;

        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}

@media (max-width: 800px) {
  .partner-feature-section {
    // background-color: yellowgreen;
    padding: 30px 20px;
    // background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    z-index: 100;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .partner-feature-section {
    padding: 20px;

    .feature-center {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      .card {
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(21.299999237060547px);
        padding: 42px 33px;
        color: #fff;

        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .feature-bottom {
      display: none;
    }

    // for only mobile
    .feature-bottom-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      // background-color: pink;

      p {
        font-size: 30px;
        font-family: "Volkhov";
        text-align: center;
      }

      .perfectFor-wraper {
        // background-color: green;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;

        .perfectFor-box {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;

          img {
            height: 40px;
          }
        }
      }
    }
  }
}
