.partnership-hero-sec {
  background-color: #000;
  padding: 70px 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 100;
  overflow: hidden;

  //   typography
  h1 {
    font-size: 90px;
    font-family: Volkhov;
  }
  h2 {
    font-size: 64px;
    font-family: Volkhov;
  }
  h3 {
    font-size: 40px;
    font-family: Volkhov;

    span {
      color: #43dde7;
    }
  }
  h4 {
    font-size: 24px;
    font-family: Volkhov;
  }
  p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    // background-color: pink;
  }

  //   colors
  .color-text-sec {
    color: #43dde7;
  }

  .hero-elips {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .partnership-left {
    width: 60%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 13px;

    .bottom-sec {
      // background-color: green;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 40px;
    }

    p {
      max-width: 600px;
    }

    button {
      width: fit-content;
    }

    .active_btn {
      border-radius: 60px;
      border: 0px;
      padding: 14px 30px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .partnership-right {
    width: 40%;
    // background-color: green;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1424px) {
  .partnership-hero-sec {
    // background-color: red;
    padding: 50px 80px;
    gap: 20px;

    //   typography
    h1 {
      font-size: 44px;
      font-family: Volkhov;
    }
    h2 {
      font-size: 34px;
      font-family: Volkhov;
    }
    h3 {
      font-size: 24px;
      font-family: Volkhov;

      span {
        color: #43dde7;
      }
    }
    h4 {
      font-size: 20px;
      font-family: Volkhov;
    }
    p {
      font-size: 16px;
    }

    .hero-elips {
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    .partnership-left {
      width: 50%;
      gap: 10px;
      justify-content: center;

      .bottom-sec {
        // background-color:red;
        justify-content: start;
      }
    }

    .partnership-right {
      width: 50%;
      // background-color: green;
      display: flex;
      // justify-content: center;

      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero-elips {
    display: none;
  }
}
@media (max-width: 800px) {
  .partnership-hero-sec {
    // background-color: red;
    padding: 50px 20px;
    flex-direction: column;
    gap: 20px;

    //   typography
    h1 {
      font-size: 44px;
      font-family: Volkhov;
    }
    h2 {
      font-size: 34px;
      font-family: Volkhov;
    }
    h3 {
      font-size: 24px;
      font-family: Volkhov;

      span {
        color: #43dde7;
      }
    }
    h4 {
      font-size: 20px;
      font-family: Volkhov;
    }
    p {
      font-size: 16px;
    }

    //   colors
    .color-text-sec {
      color: #43dde7;
    }

    .partnership-left {
      width: 100%;
      gap: 10px;
      justify-content: center;
      align-items: center;

      h1,
      h3,
      p {
        text-align: center;
      }

      button {
        width: fit-content;
      }

      .bottom-sec {
        // background-color: red;
        align-items: center;
        gap: 10px;
      }
    }

    .partnership-right {
      width: 100%;
      // background-color: green;
      display: flex;
      justify-content: center;

      img {
        max-width: 70%;
      }
    }
  }
}
