.lets-talk-sec {
  h2 {
    font-size: 64px;
    font-family: Volkhov;
  }
  p {
    font-size: 16px;
    font-family: IRANSansX;
  }

  // background-color: green;
  padding: 70px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;

  .talk-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .talk-bttns {
      display: flex;
      gap: 10px;

      button {
        width: fit-content;
        font-size: 16px;
      }

      .active_btn {
        border-radius: 60px;
        padding: 14px 30px;
        background: transparent;
        font-weight: 500;
      }
    }
  }

  .talk-right {
    width: 50%;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 1424px) {
  .lets-talk-sec {
    h2 {
      font-size: 34px;
    }
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;

    .talk-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .talk-bttns {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
          width: fit-content;
          font-size: 16px;
        }

        .active_btn {
          border-radius: 60px;
          padding: 14px 30px;
          background: transparent;
          font-weight: 500;
        }
      }
    }

    .talk-right {
      width: 50%;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .lets-talk-sec {
    h2 {
      font-size: 34px;
    }

    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .talk-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      p {
        text-align: center;
      }

      .talk-bttns {
        flex-direction: column;
        gap: 10px;

        button {
          // width: fit-content;
          width: 100%;
          font-size: 16px;
        }

        .active_btn {
          border-radius: 60px;
          padding: 14px 30px;
          background: transparent;
          font-weight: 500;
        }
      }
    }

    .talk-right {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }
  }
}
