.why-partner-section {
  // background-color: green;
  padding: 70px 100px;
  position: relative;
  overflow-y: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2 {
    font-size: 44px;
    font-family: "Volkhov";
    text-align: center;

    span {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    font-family: "Volkhov";
    // background-color: red;
  }

  .font-paraa {
    font-family: "Montserrat", sans-serif;
    // background-color: pink;
  }

  //   colors
  .color-text-sec {
    color: #43dde7;
  }

  .design-left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 120px;
    height: 100%;
  }

  .design-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 120px;
    height: 100%;
  }

  .partner-boxes {
    // background-color: green;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .left-part {
    // background-color: red;
    width: 50%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px 22px;

    .challanges {
      img {
        height: fit-content;
      }
      display: flex;
      gap: 14px;
    }
  }
  .right-part {
    width: 50%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px 22px;

    .challanges {
      img {
        height: fit-content;
      }
      display: flex;
      gap: 5px;
    }
  }
}

@media (max-width: 1440px) {
  .why-partner-section {
    padding: 50px 80px;

    h2 {
      font-size: 32px;
      font-family: Volkhov;
      text-align: center;

      span {
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
    }
  }
}
@media (max-width: 1024px) {
  .design-left {
    display: none;
  }
  .design-right {
    display: none;
  }

  .partner-boxes {
    flex-direction: column;

    .left-part {
      // background-color: red;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 35px 22px;

      .challanges {
        img {
          height: fit-content;
        }
        display: flex;
        gap: 14px;
      }
    }
    .right-part {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      box-shadow: 0px 7.144px 30px 0px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 35px 22px;

      .challanges {
        img {
          height: fit-content;
        }
        display: flex;
        gap: 5px;
      }
    }
  }
}

@media (max-width: 800px) {
  .why-partner-section {
    // background-color: red;
    padding: 50px 20px;
  }
}
