.data-privacy-page {
 
    .data-privacy-content {
   
        padding: 30px 100px;
    
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
  
      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
        line-height: 1.6;
      }
  
      ul {
        list-style-type: disc;
        margin-left: 20px;
        
        li {
          margin-bottom: 10px;
        }
      }
  
      strong {
        font-weight: 600;
      }
    }
  
 
  }
  