@import url("../../components/guide/introSQL.scss");
@import url("../../components/guide/terminologieSQL.scss");
@import url("../../components/guide/dataTypeSql.scss");
@import url("../../components/guide/erd.scss");
@import url("../../components/guide/commandCategories.scss");
@import url("../../components/guide/basicCommand.scss");
// @import url("../../components/guide/intermediateCommand.scss");
// @import url("../../components/guide/acidTransaction.scss");
// @import url("../../components/guide/advanceCommand.scss");
// @import url("../../components/guide/windoFunction.scss");

// Guide main page

.guide-main {
  // background-color: red;

  position: relative;
  overflow-x: hidden;

  // vector design
  .guide-vector {
    position: absolute;
    top: 80px;
    z-index: -1;
    left: 0px;
    right: 0px;
    opacity: 0.4;
  }
}

//  Guide page
.guide-page {
  // background-color: red;
  // height: 100dvh;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
  gap: 20px;
  position: relative;

  // sidebar
  .sidebar {
    // background-color: green;
    .guide-sidebar {
      background-color: white;
      width: 320px;
      height: 90vh;
      padding: 16px;
      box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.06);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      //   Title
      .title {
        font-size: 22px;
        font-weight: 700;
        font-family: "Volkhov";
        font-style: normal;
      }

      //  Side-Links
      .side-links {
        a {
          text-decoration: none;
          color: black;
        }

        // background-color: red;

        li {
          // background-color: green;
          padding: 14px 15px;
          border-radius: 7px;
          font-size: 14px;
          font-weight: 500;
          font-family: "IRANSansX";
          color: #999999;
          text-transform: capitalize;
          cursor: pointer;
        }

        .active {
          background-color: #43dde72e;
          font-weight: 600;
          color: black;
        }
      }
    }
  }

  // main-content
  .main {
    // background-color: pink;
    width: 100%;
    padding: 20px;
  }

  // ant-table-z-index
  .ant-table-overflow {
    // background-color: pink;
    overflow-x: auto;
  }

}

@media (min-width: 1024px) {
  // sidebar-icon
  .sidebar-icon {
    cursor: pointer;
    display: none;
    background-color: red;
  }
}

@media (max-width: 1024px) {
  // sidebar-icon
  .sidebar-icon {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
  }

  .sidebar {
    position: absolute;
    z-index: 999;
    top: 30px;
    bottom: -500px;
  }

  .hideSidebar {
    display: none;
  }

  //sidebar-content
  .guide-sidebar {
    background-color: red;
    width: 280px;
    height: 100%;
  }

  // main-content

  .main {
    // background-color: pink;
    width: 100%;
    height: 100%;
  }
}
