.erd-data-model {
  // background-color: red ;
  display: flex;
  flex-direction: column;
  gap: 25px;

  //
  .title {
    font-family: Volkhov;
    font-size: 36px;
    font-weight: 700;
  }

  // btns

  .btns {
    display: flex;
    justify-content: space-between;

    .guide-btn {
      background-color: #43dde7;
      padding: 10px 25px;
      border: none;
      border-radius: 7px;
      font-size: 16px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  // content
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
  }

  //  erd  examples
  .examples {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      font-size: 16px;
    }

    li span {
      font-weight: 500;
      font-size: 16px;
    }
    ol.dot {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style-type: inherit;
    }
  }

  //   erd types
  .erd-types {
    display: flex;
    flex-direction: column;
    gap: 20px;

    ol {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        font-weight: 500;
        font-size: 16px;
      }

      li span {
        font-weight: 400;
      }
    }
  }

  //   erd img

  .erd-img {
    .erd-diagram {
      width: 100%;
    }
  }
}
