@font-face {
  font-family: "Roboto";
  src: url("../../../../../public/font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "IRANSansX";
  src: url("../../../../../public/font/IRANSansXRegular.ttf");
}
.edit-profile {
  padding: 10px 523px 184px 197px;
  //   width: 80%;
  .heading {
    width: 100%;
    justify-content: space-between;
    display: flex;

    img {
      width: 120px;
      height: 120px;
    }

    h1 {
      padding-top: 77px;
      // background-color: #2c55ff;
      color: #000;

      font-family: IRANSansX;
      font-size: 45px;
      // font-style: normal;
      font-weight: 500;
    }
  }

  .inputs {
    width: 100%;
    // background-color: aqua;
    // display: ;

    // flex-wrap: wrap;
    // justify-content: space-between;
    label {
      color: #363636;
      font-family: IRANSansX;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    input {
      padding-left: 30px;
    }

    .full-name {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .half-width {
        display: flex;
        flex-direction: column;
        width: 47%;

        input {
          //   width: 405px;
          height: 70px;
          border-radius: 5px;
          border: 2px solid #e4e4e4;
          background: #fff;
        }
      }
    }

    .location {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .half-width {
        display: flex;
        flex-direction: column;
        width: 47%;

        select {
          appearance: none; /* Remove default arrow in some browsers */
          padding: 20px; /* Adjust padding to increase the clickable area */
          //width: calc(100% - 30px); /* Adjust width to account for padding */
          border-radius: 5px;
          border: 2px solid #e4e4e4;
          background: #fff;
          background-image: url("../../../../assets/icons/drop-down.png"); /* Replace with your own arrow icon */
          background-repeat: no-repeat;
          background-position: calc(100% - 23px) center; /* Adjust position to align with the right edge */
          background-size: 23px 23px;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;

          color: #d6d5d5;
          font-family: IRANSansX;
          font-size: 20px;
          font-weight: 300;

          &::-ms-expand {
            display: none; /* Remove the arrow in IE10 and IE11 */
          }

          option {
            color: #d6d5d5;
            font-family: IRANSansX;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
    }

    .full-width {
      width: 100%;
      display: flex;
      flex-direction: column;

      .check-inputs {
        height: 70px;
        border-radius: 5px;
        border: 2px solid #e4e4e4;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        margin-bottom: 20px;
        input {
          border: none;
          margin: 0;

          height: 60px;
          // border-radius: 5px;
          // background: #fff;
        }

        input[type="checkbox"] {
          width: 35.429px;
          height: 35.632px;
          accent-color: #23b000;
          border-radius: 5px;
        }
      }

      input {
        // width: 873px;
        height: 70px;
        border-radius: 5px;
        border: 2px solid #e4e4e4;
        background: #fff;
      }
    }

    .city {
      width: 50%;
    }
    .state {
      width: 50%;
    }
  }
  .buttons {
    display: flex;
    gap: 40px;
    .cancel {
      border: none;
      outline: none;
      width: 180px;
      height: 55px;
      border-radius: 5px;
      border: 2px solid #2c55ff;
      background: #fff;
      color: #2c54fe;
      font-family: Roboto;

      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .save {
      border: none;
      outline: none;
      width: 180px;
      height: 55px;
      border-radius: 5px;
      background: #2b52f9;
      color: #fff;
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

@media screen and (max-width: 1600px) {
  .edit-profile {
    padding: 10px 40px 40px 40px;
  }
}

@media screen and (max-width: 600px) {
  .edit-profile {
    padding: 40px 20px;
    .heading {
      h1 {
        // margin-top: 20px;
        padding-top: 40px;
        font-size: 30px;
      }
    }
    .inputs {
      input {
        height: 40px !important;
        padding-left: 15px !important;
      }

      label {
        font-size: 16px;
      }

      .full-width {
        .check-inputs {
          height: 40px !important;
          padding-right: 10px;
          input {
            height: 30px !important;
          }

          input[type="checkbox"] {
            width: 20px;
            height: 20px;
          }
        }
      }

      .half-width {
        select {
          height: 40px;
          background-size: 18px 18px !important;
        }
      }
    }

    .buttons {
      .cancel {
        width: 140px;
        height: 40px;
        font-size: 22px;
      }

      .save {
        width: 140px;
        height: 40px;
        font-size: 22px;
      }
    }
  }
}
